<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerAudioPlayer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PowerAudioPlayer.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <PowerAudioPlayer.Settings>
            <setting name="Volume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MIDISoundFont" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>zh-CN</value>
            </setting>
            <setting name="OutputSampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="StopPlayingWhenError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTrackbarProgress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTrackbarControlButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusInTaskbarIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundEffectGain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableEqualizer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerFormLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="ResponseAppCommand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyNext" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyPrevious" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyVolUp" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyVolDown" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyPlayPause" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyStop" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyExit" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LyricsHighlightColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="LyricsItemsMargin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MediaLibraryStartUpUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MediaLibraryAutoRemove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaylistEditorShowFileNameColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordPlayHistroy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetTimeOut" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="NetBuffer" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PlayBuffer" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MIDIVoices" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ThemeColorFollowingSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="PlayerControlInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PlaylistEditorFormLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="LyricsFormLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </PowerAudioPlayer.Settings>
        <PowerAudioPlayer.Settings.Settings>
            <setting name="Volume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PlayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MIDISondFont" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>zh-CN</value>
            </setting>
            <setting name="SelectedPlaylistIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorMode" serializeAs="String">
                <value>0</value>
            </setting>
        </PowerAudioPlayer.Settings.Settings>
    </userSettings>
</configuration>